<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/xdm/include/head :: head}"></div>

      <!-- Main Content -->
<div class="main-content">
<form action="/xdm/codegroup/CodeGroupXdmInst" method="post" id="form" class="needs-validation" novalidate="">	
	<section class="section">
    	<div class="section-header">
      		<h1>Code Group</h1>
    	</div>
	</section>
	<div class="card">
    	<div class="card-header">
      		<h2>기본정보</h2z>
    	</div>
    	<div class="card-body">
      		<div class="row">
        		<div class="col-3">
          			<div class="form-group">
            			<label>seq<code>*</code></label>
            			<input type="int" name="seq" id="seq" class="form-control" placeholder="자동생성" disabled>
          			</div>
        		</div>
        		<div class="col-3">
          			<div class="form-group">
            			<label>코드그룹 코드 (ANOTHER)</label>
            			<input type="text" name="codegroupcode" id="codegroupcode" class="form-control" placeholder="영대소문자,숫자" />
            			<span id="validation02" style="color : red";></span>
          			</div>
        		</div>
        		<div class="col-3">
          			<div class="form-group">
            			<label for="name">코드그룹 이름<code>*</code></label>
            			<input type="text" name="name" id="name" class="form-control" placeholder="한글,영대소문자,숫자" >
            			<span id="validation01" style="color : red";></span>
          			</div>
        		</div>
        		<div class="col-3">
          			<div class="form-group">
            			<label>코드그룹 이름(영문)</label>
            			<input type="text" class="form-control" placeholder="영대소문자,숫자" disabled/>
          			</div>
        		</div>
      		</div> 
      		<div class="row">
        		<div class="col-3">
          			<div class="form-group">
            			<label>사용여부 <code>*</code></label>
            			<select class="form-control form-control-sm" name="delNy" id="delNy" >
              				<option value="" id="choice">선택하세요</option>
              				<option value="0">N</option>
              				<option value="1">Y</option>
            			</select>
              			<span id="validation03" style="color : red";></span>
          			</div>
        		</div>
        		<div class="col-3">
          			<div class="form-group">
            			<label>순서<code>*</code></label>
            			<input type="text" class="form-control" placeholder="" disabled/>
          			</div>
        		</div>
        		<div class="col-3">
          			<div class="form-group">
            			<label>갯수<code>*</code></label>
            			<input  type="int" name="number" id="number" class="form-control" placeholder="" disabled />
          			</div>
        		</div>
      		</div>
      		<div class="row">
        		<dic class="col-6">
          			<label>설명</label>
          			<textarea class="form-control"></textarea>
        		</dic>
      		</div>
      		<div class="row">
        		<div class="col-11">
        			<button type="button" class="btn btn-primary"  id="btnSave">등록</button>
        		</div>
      		</div>
      	</div>
	</div>	
</form>
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" date-backdrop="static" aria-hidden="true">
	<div class="modal-dialog" role="document">
 		<div class="modal-content">
        	<div class="modal-header">
 	 			<h5 class="modal-title">알림</h5>
          		<button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          			<span aria-hidden="true">&times;</span>
          		</button>
        	</div>
        	<div class="modal-body">
          		<span id="qwer" name="qwer"></span>
        	</div>
        	<div class="modal-footer bg-whitesmoke br">
          		<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        	</div>
      	</div>
    </div>
</div>	   
        
 <script type="text/javascript">

 
document.getElementById("btnSave").onclick = function(){
	
	let whether = true;
		
	if(document.getElementById("codegroupcode").value == null || document.getElementById("codegroupcode").value == ""){
		$("#exampleModal").modal("show");
		document.getElementById("qwer").innerText = "코드그룹을 입력해주세요";
		whether = false;
			
	}else{
		document.getElementById("validation02").innerText =""
	}
	if(document.getElementById("name").value == null || document.getElementById("name").value == ""){
		$("#exampleModal").modal("show");
		document.getElementById("qwer").innerText = "이름을 입력해주세요";
		document.getElementById("name").focus();
		whether =  false;		
	}else{
		document.getElementById("validation01").innerText =""
	}
	if(document.getElementById("delNy").value == null || document.getElementById("delNy").value == ""){
		$("#exampleModal").modal("show");
		document.getElementById("qwer").innerText = "사용여부를 선택해주세요";
	}
	if(whether){
	 document.getElementById("form").submit();
		
	}
}

</script>
        
 <div th:replace="~{/xdm/include/footer :: footer}"></div>