<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/xdm/include/head :: head}"></div>

      <!-- Main Content -->
      <div class="main-content">
      	<form action="/xdm/codegroup/CodeGroupXdmInst" method="post" id="form">	
	        <section class="section">
	          <div class="section-header">
	            <h1>Code Group</h1>
	          </div>
	         </section>
	        <div class="card">
	          <div class="card-header">
	            <h2>기본정보</h2z>
	          </div>
	          <div class="card-body">
	            <div class="row">
	              <div class="col-3">
	                <div class="form-group">
	                  <label>seq<code>*</code></label>
	                  <input type="int" name="seq" id="seq" class="form-control" placeholder="자동생성" disabled>
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>코드그룹 코드 (ANOTHER)</label>
	                  <input type="text" name="codegroupcode" id="codegroupcode" class="form-control" placeholder="영대소문자,숫자" >
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>코드그룹 이름<code>*</code></label>
	                  <input type="text" name="name" id="name" class="form-control" placeholder="한글,영대소문자,숫자" >
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>코드그룹 이름(영문)</label>
	                  <input type="text" class="form-control" placeholder="영대소문자,숫자" disabled/>
	                </div>
	              </div>
	            </div> 
	            <div class="row">
	              <div class="col-3">
	                <div class="form-group">
	                  <label>사용여부 <code>*</code></label>
	                  <select class="form-control form-control-sm" name="delNy" id="delNy" >
	                    <option>선택하세요</option>
	                    <option value="0">N</option>
	                    <option value="1">Y</option>
	                  </select>
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>순서<code>*</code></label>
	                  <input type="text" class="form-control" placeholder="" disabled/>
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>갯수<code>*</code></label>
	                  <input  type="int" name="number" id="number" class="form-control" placeholder="" disabled />
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <dic class="col-6">
	                <label>설명</label>
	                <textarea class="form-control"></textarea>
	              </dic>
	            </div>
                
	            <div class="row">
	              <div class="col-11">
	          		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="btnSave">저장</button>
	              </div>
	            </div>
	          </div>
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>저장하시겠습니까</p>
              </div>
              <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="save">저장하기</button>
              </div>
            </div>
          </div>
        </div>	          </div>
	    	</form>
        </div>
        
 <script type="text/javascript">
document.getElementById("btnSave").onclick = function(){
		
	//if(document.getElementById("name").value == null || document.getElementById("name").value == ""){

		//alert("이름을 넣어라");
		//document.getElementById("name").focus();
		//return false;
	
		//}
	//document.getElementById("form").submit();
	 document.getElementById("exampleModal").style.display = "block";
}
// 아니오 눌렀을때
     document.getElementsByClassName(".close").onclick = function() {
 	 event.preventDefault(); // 혹시 모를 기본 이벤트 방지
     document.getElementById("exampleModal").style.display = "none";
 }

// 예 눌렀을때
document.getElementById("save").onclick = function() {
	document.getElementById("exampleModal").style.display = "none";
    document.getElementById("form").submit();
}
</script>
        
 <div th:replace="~{/xdm/include/footer :: footer}"></div>