<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/xdm/include/head :: head}"></div>

      <!-- Main Content -->
      <div class="main-content">
      	<form action="/xdm/codegroup/CodeGroupXdmInst" method="post">	
	        <section class="section">
	          <div class="section-header">
	            <h1>Code Group</h1>
	          </div>
	        <div class="card">
	          <div class="card-header">
	            <h2>기본정보</h2z>
	          </div>
	          <div class="card-body">
	            <div class="row">
	              <div class="col-3">
	                <div class="form-group">
	                  <label>seq<code>*</code></label>
	                  <input type="int" name="seq" id="seq" class="form-control" placeholder="자동생성" disabled>
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>코드그룹 코드 (ANOTHER)</label>
	                  <input type="text" name="codegroupcode" id="codegroupcode" class="form-control" placeholder="영대소문자,숫자" >
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>코드그룹 이름<code>*</code></label>
	                  <input type="text" name="name" id="name" class="form-control" placeholder="한글,영대소문자,숫자" >
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>코드그룹 이름(영문)</label>
	                  <input type="text" class="form-control" placeholder="영대소문자,숫자" disabled/>
	                </div>
	              </div>
	            </div> 
	            <div class="row">
	              <div class="col-3">
	                <div class="form-group">
	                  <label>사용여부 <code>*</code></label>
	                  <select class="form-control form-control-sm" name="delNy" id="delNy" >
	                    <option>선택하세요</option>
	                    <option value="0">N</option>
	                    <option value="1">Y</option>
	                  </select>
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>순서<code>*</code></label>
	                  <input type="text" class="form-control" placeholder="" disabled/>
	                </div>
	              </div>
	              <div class="col-3">
	                <div class="form-group">
	                  <label>갯수<code>*</code></label>
	                  <input  type="int" name="number" id="number" class="form-control" placeholder="" >
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <dic class="col-6">
	                <label>설명</label>
	                <textarea class="form-control"></textarea>
	              </dic>
	            </div>
	            <div class="row">
	              <div class="col-11">
	              <button type="submit">저장</button>
	                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg></a>
	              </div>
	            </div>
	          </div>
	    	</form>
        </div>
        <script type="text/javascript">
	document.getElementById("btnSave").onclick = function(){
		document.getElementById("form").submit();
	}
	</script>
        
 <div th:replace="~{/xdm/include/footer :: footer}"></div>