<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "

http://mybatis.org/dtd/mybatis-3-mapper.dtd

">

<mapper namespace="com.asus.module.code.CodeDao">
<resultMap id="resultMapObj" type="com.asus.module.code.CodeDto"></resultMap>

<sql id="selectCommon">
FROM code a
JOIN codegroup b ON b.ifcgseq = a.codegroup_ifcgseq
WHERE 1=1
	AND a.ifcddelNy = 0
</sql>

<select id="selectOneCount" resultType="Integer">
	SELECT COUNT(*)
	<include refid="selectCommon" />
</select>
<select id="selectList" resultMap="resultMapObj">
select aa.* from(
SELECT 
	a.ifcdseq,
	a.ifcddelNy,
	b.ifcgname,
	a.ifcdcodename,
	a.codegroup_ifcgseq
		<include refid="selectCommon" />

	ORDER BY a.ifcdseq DESC
) aa
limit #{rowNumToShow} offset #{startRnumForMysql}
</select>
<insert id="insert">
INSERT INTO code(
	ifcddelNy,
	ifcdcodename,
	codegroup_ifcgseq
)VALUES(
	0,
	#{ifcdcodename},
	#{ifcgseq}
)
</insert>

<!-- <select id="selectListCachedCodeArrayList" resultMap="resultMapObj"> -->
<!-- SELECT  -->
<!-- 	ifcdseq, -->
<!-- 	ifcddelNy, -->
<!-- 	ifcdcodename, -->
<!-- 	codegroup_ifcgseq -->
<!-- FROM -->
<!-- 	code -->
<!-- WHERE 1=1 -->
<!-- 	AND ifcddelNy = 0 -->
<!-- </select> -->

</mapper>