<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "

http://mybatis.org/dtd/mybatis-3-mapper.dtd

">

<mapper namespace="com.asus.module.codegroup.CodeGroupDao">
<resultMap id="resultMapObj" type="com.asus.module.codegroup.CodeGroupDto"></resultMap>
	 
<select id="selectList" resultMap="resultMapObj">
select aa.* from(
SELECT
	a.ifcgseq,
	a.ifcgdelNy,
	a.ifcgname,
	(select count(aa.ifcdseq) from code aa where 1=1 and aa.ifcddelNy = 0 and aa.codegroup_ifcgseq = a.ifcgseq) as ifcgseqcount
<include refid="selectCommon" />
	ORDER BY a.ifcgseq DESC
) aa
limit #{rowNumToShow} offset #{startRnumForMysql}
</select>
<select id="selectItem" resultMap="resultMapObj">
SELECT
	a.ifcgseq,
	a.ifcgdelNy,
	a.ifcgname,
	a.ifcguseNy
<include refid="selectCommon" />
	AND a.ifcgseq = #{ifcgseq}
	order by a.ifcgseq DESC
</select>


<insert id="insert" >
INSERT INTO codegroup(
	ifcgdelNy,
	ifcgname,
	ifcguseNy
)values(
	0,
	#{ifcgname},
	1
)
</insert>
<delete id="delete">
	delete from codegroup
	where ifcgseq = #{ifcgseq}
</delete>

<sql id="selectCommon">
	FROM codegroup a
	WHERE 1=1
		AND a.ifcgdelNy=0
		
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcguseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.ifcgdelNy = #{shDelNy}</if>
<!-- 				
				<choose>
					<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
 -->				
        <choose>
            <when test="shOption == 1">AND a.ifcgseq = #{shValue}</when>
            <when test="shOption == 2">AND a.ifcgname LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
</sql>

<select id="selectOneCount" resultType="Integer">
	SELECT COUNT(*)
	<include refid="selectCommon" />
</select>
<select id="selectListWithoutPaging" resultMap="resultMapObj">
SELECT
	a.ifcgseq,
	a.ifcgname
<include refid="selectCommon" />
</select>

</mapper>