<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "

http://mybatis.org/dtd/mybatis-3-mapper.dtd

">

<mapper namespace="com.asus.module.codegroup.CodeGroupDao">
<resultMap id="resultMapObj" type="com.asus.module.codegroup.CodeGroupDto"></resultMap>
	 
<select id="selectList" resultMap="resultMapObj">
select aa.* from(
SELECT
	a.ifcgseq,
	a.ifcgdelNy,
	a.ifcgname,
	a.ifcguseNy,
	(select count(aa.ifcdseq) from code aa where 1=1 and aa.ifcddelNy = 0 and aa.codegroup_ifcgseq = a.ifcgseq) as ifcgseqcount,
	a.datetimestart,
	a.datetimeend
<include refid="selectCommon" />
	ORDER BY a.ifcgseq DESC
) aa
limit #{rowNumToShow} offset #{startRnumForMysql}
</select>
<select id="selectOne" resultMap="resultMapObj">
SELECT
	ifcgseq,
	ifcgname,
	ifcguseNy
FROM codegroup 
WHERE 1=1
	AND ifcgseq = #{ifcgseq}
	order by ifcgseq DESC
</select>


<insert id="insert" >
INSERT INTO codegroup(
	ifcgdelNy,
	ifcgname,
	ifcguseNy,
	datetimestart
)values(
	0,
	#{ifcgname},
	1,
	now()
)
</insert>

<update id="update">
update codegroup
	set
		ifcgseq=#{ifcgseq},
		ifcgname=#{ifcgname},
		ifcguseNy=#{ifcguseNy},
		datetimeend=now()
	where 
		ifcgseq=#{ifcgseq}
</update>

<delete id="delete">
	delete from codegroup
	where ifcgseq = #{ifcgseq}
</delete>

<update id="uelete">
	update codegroup
	set
		ifcgdelNy = 1
	where 
		ifcgseq=#{ifcgseq}
	</update>

<sql id="selectCommon">
	FROM codegroup a
	WHERE 1=1
		AND a.ifcgdelNy=0
		
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcguseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.ifcgdelNy = #{shDelNy}</if>
				
				<choose>
					<when test="shOptionDate != null and !shOptionDate.equals('') 
					and shOptionDate == 1 
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.datetimestart BETWEEN #{shDateStartdb} AND #{shDateEnddb}</when>
					<when test="shOptionDate != null and !shOptionDate.equals('') 
					and shOptionDate == 2 
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.datetimeend BETWEEN #{shDateStartdb} AND #{shDateEnddb}</when>
				</choose>
		
        <choose>
            <when test="shOption == 1">AND a.ifcgseq = #{shValue}</when>
            <when test="shOption == 2">AND a.ifcgname LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
</sql>

<select id="selectOneCount" resultType="Integer">
	SELECT COUNT(*)
	<include refid="selectCommon" />
</select>
<select id="selectListWithoutPaging" resultMap="resultMapObj">
SELECT
	a.ifcgseq,
	a.ifcgname
	
FROM codegroup a
	WHERE 1=1
		AND a.ifcgdelNy=0
</select>

</mapper>