<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "

http://mybatis.org/dtd/mybatis-3-mapper.dtd

">

<mapper namespace="com.asus.module.codegroup.CodeGroupDao">
<resultMap id="resultMapObj" type="com.asus.module.codegroup.CodeGroupDto"></resultMap>
	 
<select id="selectList" resultMap="resultMapObj">
SELECT
	seq,
	codegroupcode,
	delNy,
	name,
	number
FROM
	codegroup
WHERE 1=1
	ORDER BY seq DESC
	
</select>
<select id="selectItem" resultMap="resultMapObj">
SELECT
	seq,
	codegroupcode,
	delNy,
	name,
	number
FROM
	codegroup
where 1=1
			AND seq = #{seq}
		order by seq desc
</select>


<insert id="insert" >
INSERT INTO codegroup(
	codegroupcode,
	delNy,
	name,
	number
)values(
	#{name},
	#{delNy},
	#{name},
	#{number}
)
</insert>
<delete id="delete">
	delete from codegroup
	where seq = #{seq}
</delete>
</mapper>