<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asus.module.user.UserDao">
<resultMap id="resultMapObj" type="com.asus.module.user.UserDto"></resultMap>

<select id="selectList" resultMap="resultMapObj">
select aa.* from (
SELECT
	a.userseq,
	a.username,
  	a.usergender,
  	a.userid,
  	a.useremail,
  	a.userpassword,
  	a.userdate,
  	a.userphoneNumber,
  	a.userfirstaddress,
  	a.usersecondaddress,
  	a.userthirdaddress,
  	a.userfourthaddress,
  	a.userfifthaddress,
  	a.userdelNy,
  	a.useruseNy,
  	a.userdb,
  	a.userredb,
  	a.userlatitude,
  	a.userhardness
<include refid="selectCommon" />
 	ORDER BY a.userseq DESC
) aa
limit #{rowNumToShow} offset #{startRnumForMysql}
</select>

<select id="selectSigin" resultMap="resultMapObj">
SELECT
	userseq,
	userid,
	userpassword,
	username
FROM
	user
WHERE 1=1
	AND userid = #{userid}
</select>

<select id="selectSigup" resultMap="resultMapObj">
SELECT
	userseq,
	userid,
	useremail
FROM
	user
WHERE 1=1
	AND userid = #{userid}
	AND useremail =#{useremail}
</select>

<select id="selectOneCount" resultType="Integer">
	SELECT COUNT(*)
FROM user a

</select>

<select id="selectTwoCount" resultType="Integer">
	SELECT COUNT(*)
FROM user a
WHERE
	a.userid=#{userid}

</select>

<select id="selectOne" resultMap="resultMapObj">
SELECT
	a.userseq,
	a.username,
  	a.usergender,
  	a.userid,
  	a.useremail,
  	a.userpassword,
  	a.userdate,
  	a.userphoneNumber,
  	a.userfirstaddress,
  	a.usersecondaddress,
  	a.userthirdaddress,
  	a.userfourthaddress,
  	a.userfifthaddress,
  	a.userdelNy,
  	a.useruseNy,
  	a.userlatitude,
  	a.userhardness
FROM user a 
WHERE 1=1
	AND a.userseq = #{userseq}
	order by a.userseq DESC
</select>
<select id="selectTwo" resultMap="resultMapObj">
SELECT
	b.aSeq,
	b.usernameF,
	b.useraddressF,
	b.useraddressS,
	b.useraddressT,
	b.useraddressFo,
	b.useraddressFit,
	b.useraddressHar,
	b.useraddressLa,
	b.user_userseq,
	b.userdelNyF,
	b.useruseNyF,
	b.userdbF,
	b.userrdbF
FROM address b
WHERE 1=1
	AND b.user_userseq = #{user_userseq}
	AND userdelNyF = 0
        AND useruseNyF = 1
</select>

<select id="selectReview" resultMap="resultMapObj">
	SELECT
		a.ifrvseq,
	    a.ifrvdate, 
	    a.ifrvtitle, 
	    a.ifrvmemo, 
	    a.ifrvdelNy, 
	    a.user_seq, 
	    a.produce_seq,
	    b.username
	FROM
		review a
		left join user b on b.userseq = a.user_seq
		left join product c on c.ifprseq = a.produce_seq
	where 1=1
		AND produce_seq = #{ifprseq}
</select>

<insert id="insertReview" >
INSERT INTO review(

	ifrvtitle,
	ifrvmemo,
	ifrvdelNy,
	ifrvdate,
	user_seq
)values(
	#{ifrvtitle},
	#{ifrvmemo},
	0,
	now(),
	#{userseq}
	)
	
</insert>

<insert id="insert" >
INSERT INTO user(
	username,
  	usergender,
  	userid,
  	useremail,
  	userpassword,
  	userdate,
  	userphoneNumber,
  	userfirstaddress,
  	usersecondaddress,
  	userthirdaddress,
  	userfourthaddress,
  	userfifthaddress,
  	userlatitude,
  	userhardness,
  	userdelNy,
  	useruseNy,
  	userdb
)values(
	#{username},
  	#{usergender},
  	#{userid},
  	#{useremail},
  	#{userpassword},
  	#{userdate},
  	#{userphoneNumber},
  	#{userfirstaddress},
  	#{usersecondaddress},
  	#{userthirdaddress},
  	#{userfourthaddress},
  	#{userfifthaddress},
  	#{userlatitude},
  	#{userhardness},
  	0,
  	1,
  	now()
)
</insert>

<insert id="insertaddress" >
INSERT INTO address(
	user_userseq,
	usernameF,
  	useraddressF,
  	useraddressS,
  	useraddressT,
  	useraddressFo,
  	useraddressLa,
  	useraddressHar,
  	userdelNyF,
  	useruseNyF,
  	userdbF
)values(
	#{user_userseq},
	#{usernameF},
  	#{useraddressF},
  	#{useraddressS},
  	#{useraddressT},
  	#{useraddressFo},
  	#{useraddressLa},
  	#{useraddressHar},
  	0,
  	1,
  	now()
)
</insert>

<update id="changeaddress">
UPDATE user set
	username =#{username},
	userfirstaddress = #{userfirstaddress},
	usersecondaddress = #{usersecondaddress},
	userthirdaddress = #{userthirdaddress},
	userfourthaddress = #{userfourthaddress},
	userlatitude = #{userlatitude},
	userhardness = #{userhardness},
	userredb = now()
WHERE userseq = #{userseq}
</update>

<update id="update">
UPDATE user set
	useremail =#{useremail},
	userphoneNumber = #{userphoneNumber}
	
	
WHERE userseq = #{userseq}
</update>

<update id="updatepassword">
UPDATE user set
	userpassword =#{userpassword}
	
WHERE userseq = #{userseq}
</update>

<select id="passwordcheck" resultMap="resultMapObj">
	select
		userpassword
	from
		user
	where 
		userseq = #{userseq}
</select>

<update id="uelete">
	update user
	set
		userdelNy = 1
	where 
		userdelNy=#{userdelNy}
</update>



<sql id="selectCommon">
        FROM user a
        WHERE 1=1
        AND userdelNy = 0
        AND useruseNy = 1
        <if test="shUseNy != null and !shUseNy.equals('')">AND a.useruseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.userdelNy = #{shDelNy}</if>
<choose>
					<when test="shOptionDate != null and !shOptionDate.equals('') 
					and shOptionDate == 1 
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.userdb BETWEEN #{shDateStartDB} AND #{shDateEndDB}</when>
					<when test="shOptionDate != null and !shOptionDate.equals('') 
					and shOptionDate == 2 
					and shDateStart != null and !shDateStart.equals('')
					and shDateEnd != null and !shDateEnd.equals('')">
					AND a.userredb BETWEEN #{shDateStartDB} AND #{shDateEndDB}</when>
				</choose>				
        <choose>
            <when test="shOption == 1">AND a.userseq = #{shValue}</when>
            <when test="shOption == 2">AND a.username LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.userphonenumber LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 4">AND a.userfirstaddress LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
</mapper>