<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">

<footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/xdm/template/adminui/assets/modules/jquery.min.js"></script>
  <script src="/xdm/template/adminui/assets/modules/popper.js"></script>
  <script src="/xdm/template/adminui/assets/modules/tooltip.js"></script>
  <script src="/xdm/template/adminui/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/xdm/template/adminui/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/xdm/template/adminui/assets/modules/moment.min.js"></script>
  <script src="/xdm/template/adminui/assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->
  <script src="/xdm/template/adminui/assets/modules/simple-weather/jquery.simpleWeather.min.js"></script>
  <script src="/xdm/template/adminui/assets/modules/chart.min.js"></script>
  <script src="/xdm/template/adminui/assets/modules/jqvmap/dist/jquery.vmap.min.js"></script>
  <script src="/xdm/template/adminui/assets/modules/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/xdm/template/adminui/assets/modules/summernote/summernote-bs4.js"></script>
  <script src="/xdm/template/adminui/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

  <!-- Page Specific JS File -->
  <script src="/xdm/template/adminui/assets/js/page/index-0.js"></script>
  
  <!-- Template JS File -->
  <script src="/xdm/template/adminui/assets/js/scripts.js"></script>
  <script src="/xdm/template/adminui/assets/js/custom.js"></script>

  <!-- boot -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</th:block>
</html>