<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

      <!-- Main Content -->
<div class="main-content">
	<form  method="post" id="form"  novalidate="">	
	<div th:replace="~{xdm/code/codeXdmVo :: vo}"></div>
		<section class="section">
		    <div class="section-header">
		        <h1>Code</h1>
	        </div>
	        <div class="card">
	        	<div class="card-header">
	            	<h2>기본정보</h2z>
	          	</div>
		      	<div class="card-body">
		        	<div class="row">
	            		<div class="col-3">
	                		<div class="form-group">
	                  			<label>코드그룹(listcodegroup)<code>*</code></label>
	                  			<select class="form-control form-control-sm" id="ifcgseq" name="ifcgseq" th:value="${item?.codegroup_ifcgseq}" />
	                    			<option value="" >선택하세요</option>
	                    			<option th:each = "list : ${listCodeGroup}" th:value="${list.ifcgseq}"  th:text="${list.ifcgname}" th:selected="${list.ifcgseq == item?.ifcgseq}"></option>
	                  			</select>
	                    			<span id="validation06" style="color : red"; class="invalid-feedback"></span>
	                		</div>
	              		</div>
	              		<div class="col-3">
		                	<div class="form-group">
		                  		<label>대체코드(codename)</label>
		                  		<input type="text" name="ifcdcodename" id="ifcdcodename" th:value="${item?.ifcdcodename}" class="form-control" placeholder="입력하세요" />
			                  	<span id="validation03" style="color : red"; class="invalid-feedback"></span>	
		                	</div>
		              	</div>
		              	<div class="col-3">
          					<div class="form-group">
            				<label>사용여부<code>*</code></label>
            					<input type="text" name="ifcduseNy" id="ifcduseNy" th:value="${item?.ifcduseNy}" class="form-control" placeholder="자동생성" disabled />
          					</div>
        				</div>
        				<div class="col-3">
          					<div class="form-group">
            				<label>seq<code>*</code></label>
            					<input type="text" name="ifcdseq" id="ifcdseq" th:value="${item?.ifcdseq}" class="form-control" placeholder="자동생성" disabled />
          					</div>
        				</div>
	           	 	</div>
	           		<div class="row">
	           	 		<div class="col-3">
          					<div class="form-group">
            					<label>codegroup_ifcgseq<code>*</code></label>
            					<input type="text" name="codegroup_ifcgseq" id="codegroup_ifcgseq" th:value="${item?.codegroup_ifcgseq}" class="form-control" placeholder="자동생성" disabled />
          					</div>
        				</div>
	           	 	</div>
		            <div class="row">
		              	<div class="col-11">
		              		<button type="button" id="btnSubmit" class="btn btn-primary btn_custom"><i class="fa-solid fa-database fa-lg">등록</i></button>
		              		<button type="button" id="btnUelete" class="btn btn-danger btn-sm btn_custom"><i class="fa-regular fa-trash-can fa-lg">삭제</i></button>
		              	</div>
		            </div>
		        </div>
			</div>
		</section>
	</form>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" date-backdrop="static" aria-hidden="true">
	<div class="modal-dialog" role="document">
 		<div class="modal-content">
        	<div class="modal-header">
 	 			<h5 class="modal-title" id="modalConfirmTitle"></h5>
          		<button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          			<span aria-hidden="true">&times;</span>
          		</button>
        	</div>
        	<div class="modal-body">
          		<span id="modalConfirmBody"></span>
        	</div>
        	<div class="modal-footer bg-whitesmoke br">
				<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalUelete"><i class="far fa-trash-alt fa-lg"></i></button>
        	</div>
      	</div>
    </div>
</div>	   
<script type="text/javascript">
let whether = true;
let seq = document.querySelector("input[name=ifcdseq]");	
let form = document.getElementById("form");

document.getElementById("btnSubmit").onclick = function(){
// 	function validationInst() {
// 	    if(validationUpdt() == false) return false;
// 	}
	
// 	function validationUpdt() {
//  		if(!checkOnlyEnglishNumber('ifcgSeqAnother', 2, 1, "코드그룹 코드 (Another)는 영대소문자, 숫자만 입력 가능합니다.")) return false;

// 	}
	if(seq.value == "0" || seq.value == "") {
// 		if(validationInst() == false) return false;
// 		$("#modalLoading").modal("show");
		form.action = "CodeXdmInst";
		form.submit();
	} else {
// 		if(validationUpdt() == false) return false;
// 		$("#modalLoading").modal("show");
		form.action = "CodeXdmUpdt";
		form.submit();
	}
}

if(document.getElementById("btnUelete")){
	document.getElementById("btnUelete").onclick = function () {
		document.querySelector("#modalConfirmTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = '';
// 		document.querySelector("#btnModalDelete").style.display = 'none';
		$("#exampleModal").modal("show");      	
	}
}
document.getElementById("btnModalUelete").onclick = function () {
	form.action = "CodeXdmUele";
	form.submit();
}
// 	if(document.getElementById("ifcdcodename").value == null || document.getElementById("ifcdcodename").value == ""){
// 		document.getElementById("ifcdcodename").className = "form-control is-invalid";
// 		document.getElementById("validation04").innerText ="코드이름을 입력해주세요";
// 		document.getElementById("ifcdcodegroupcode").focus();
// 		whether = false;
// 	}else{
// 		document.getElementById("ifcdcodename").className = "form-control";
// 		document.getElementById("validation04").innerText ="";
// 	}
	
	
// 	if(document.getElementById("ifcgseq").value == null || document.getElementById("ifcgseq").value == ""){
// 		document.getElementById("ifcgseq").className = "form-control is-invalid";
// 		document.getElementById("validation06").innerText ="그룹을 선택해주세요";
// 		document.getElementById("codegroupcode").focus();
// 		whether = false;
// 	}else{
// 		document.getElementById("ifcgseq").className = "form-control";
// 		document.getElementById("validation06").innerText ="";
// 	}
	
	/* if(document.getElementById("delNy").value == null || document.getElementById("delNy").value == ""){
		document.getElementById("delNy").className = "form-control is-invalid";
		document.getElementById("validation07").innerText ="사용여부를 선택해부세요";
		document.getElementById("codegroupcode").focus();
		whether = false;
	}else{
		document.getElementById("delNy").className = "form-control";
		document.getElementById("validation07").innerText ="";
	} */
	
// 	if(whether){
// 		document.getElementById("form").submit();
// 	}

</script>
        
 <div th:replace="~{xdm/include/footer :: footer}"></div>