<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/xdm/block/UserAdminHeader :: head}"></div>

<script src="/xdm/template/adminui/assets/js/vendors/validation.js"></script>
<form method="post" id="Form" novalidate="">
<input type="hidden" name="userseq" id="userseq" th:value="${session.sessSeqXdm}">
	<main>
		<!-- section -->
		<section>
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<div class="d-flex justify-content-between align-items-center d-md-none py-4">
							<!-- heading -->
							<h3 class="fs-5 mb-0">Account Setting</h3>
							<!-- button -->
							<button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3"
								type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount"
								aria-controls="offcanvasAccount">
								<i class="bi bi-text-indent-left fs-3"></i>
							</button>
						</div>
					</div>
					<!-- col -->
					<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
						<div class="pt-10 pe-lg-10">
							<!-- nav item -->
							<ul class="nav flex-column nav-pills nav-pills-dark">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="account-orders.html">
										<i class="feather-icon icon-shopping-bag me-2"></i>
										장바구니
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link " href="/xdm/usr/mypage/MyPageUsrList">
										<i class="feather-icon icon-settings me-2"></i>
										개인정보 변경
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="/xdm/usr/mypage/PasswordChageUsrList">
										<i class="feather-icon icon-settings me-2"></i>
										비밀번호 변경
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="/xdm/usr/mypage/IdDeleteUsrList">
										<i class="feather-icon icon-settings me-2"></i>
										계정삭제
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/xdm/usr/mypage/AddressChangeUsrList">
										<i class="feather-icon icon-map-pin me-2"></i>
										주소
									</a>
								</li>
								<!-- nav item -->
								<!-- <li class="nav-item">
									<a class="nav-link" href="account-payment-method.html">
										<i class="feather-icon icon-credit-card me-2"></i>
										결제
									</a>
								</li> -->
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="account-notification.html">
										<i class="feather-icon icon-bell me-2"></i>
										알람
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<hr />
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="../index.html">
										<i class="feather-icon icon-log-out me-2"></i>
										Log out
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="py-6 p-md-6 p-lg-10">
							<div class="mb-6">
								<!-- heading -->
								<h2 class="mb-0">계정 삭제</h2>
							</div>
							<hr class="my-10" />
							<div>
								<!-- heading -->
								<h5 class="mb-4">계정 삭제</h5>
								<p class="mb-2">계정을 삭제하시겠습니까?</p>
								<p class="mb-5">
								</p>
								<!-- btn -->
								<button type="button" id="btnDele" class="btn btn-outline-danger">계정 삭제</button>
							</div>
							<hr class="my-10" />
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</form>
	<!-- modal -->
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
		<!-- offcanvas header -->
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<!-- offcanvas body -->
		<div class="offcanvas-body">
			<ul class="nav flex-column nav-pills nav-pills-dark">
				<!-- nav item -->
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="account-orders.html">
						<i class="feather-icon icon-shopping-bag me-2"></i>
						Your Orders
					</a>
				</li>
				<!-- nav item -->

				<li class="nav-item">
					<a class="nav-link active" href="account-settings.html">
						<i class="feather-icon icon-settings me-2"></i>
						Settings
					</a>
				</li>
				<!-- nav item -->

				<li class="nav-item">
					<a class="nav-link" href="account-address.html">
						<i class="feather-icon icon-map-pin me-2"></i>
						Address
					</a>
				</li>
				<!-- nav item -->

				<li class="nav-item">
					<a class="nav-link" href="account-payment-method.html">
						<i class="feather-icon icon-credit-card me-2"></i>
						Payment Method
					</a>
				</li>
				<!-- nav item -->

				<li class="nav-item">
					<a class="nav-link" href="account-notification.html">
						<i class="feather-icon icon-bell me-2"></i>
						Notification
					</a>
				</li>
			</ul>
			<hr class="my-6" />
			<div>
				<!-- navs -->
				<ul class="nav flex-column nav-pills nav-pills-dark">
					<!-- nav item -->
					<li class="nav-item">
						<a class="nav-link" href="../index.html">
							<i class="feather-icon icon-log-out me-2"></i>
							Log out
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" date-backdrop="static" aria-hidden="true">
	<div class="modal-dialog" role="document">
 		<div class="modal-content">
        	<div class="modal-header">
 	 			<h5 class="modal-title" id="modalConfirmTitle"></h5>
          		<button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          			<span aria-hidden="true">&times;</span>
          		</button>
        	</div>
        	<div class="modal-body">
          		<span id="modalConfirmBody"></span>
        	</div>
        	<div class="modal-footer bg-whitesmoke br">
        		<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalDelete"><i class="fa-solid fa-x fa-lg">영구삭제</i></button>
				<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalUelete"><i class="far fa-trash-alt fa-lg"></i></button>
        	</div>
      	</div>
    </div>
</div>	 
	<!-- Footer -->
	<!-- footer -->
	<div th:replace="~{/xdm/block/UserAdminFooter :: footer}"></div>
	

</body>

</html>

<script type="text/javascript">
	if(document.getElementById("btnUelete")){
		alert("adfadf");
		document.getElementById("btnUelete").onclick = function () {
			document.querySelector("#modalConfirmTitle").textContent = "확 인";
			document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
			document.querySelector("#btnModalUelete").style.display = '';
//	 		document.querySelector("#btnModalDelete").style.display = 'none';
			$("#exampleModal").modal("show");      	
		}
	}
	document.getElementById("btnModalUelete").onclick = function () {
		form.action = "/xdm/usr/mypage/IdUeleteUsrList";
		form.submit();
	}
</script>