<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/xdm/block/UserAdminHeader :: head}"></div>

	<script src="/xdm/template/adminui/assets/js/vendors/validation.js"></script>
	<main>
		<!-- section -->
		<section>
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12">
						<div class="d-flex justify-content-between align-items-center d-md-none py-4">
							<!-- heading -->
							<h3 class="fs-5 mb-0">Account Setting</h3>
							<!-- button -->
							<button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3"
								type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount"
								aria-controls="offcanvasAccount">
								<i class="bi bi-text-indent-left fs-3"></i>
							</button>
						</div>
					</div>
					<!-- col -->
					<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
						<div class="pt-10 pe-lg-10">
							<!-- nav item -->
							<ul class="nav flex-column nav-pills nav-pills-dark">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="account-orders.html">
										<i class="feather-icon icon-shopping-bag me-2"></i>
										장바구니
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link " href="/xdm/usr/mypage/MyPageUsrList">
										<i class="feather-icon icon-settings me-2"></i>
										개인정보 변경
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="/xdm/usr/mypage/PasswordChageUsrList">
										<i class="feather-icon icon-settings me-2"></i>
										비밀번호 변경
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="/xdm/usr/mypage/IdDeleteUsrList">
										<i class="feather-icon icon-settings me-2"></i>
										계정삭제
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/xdm/usr/mypage/AddressChangeUsrList">
										<i class="feather-icon icon-map-pin me-2"></i>
										주소
									</a>
								</li>
								<!-- nav item -->
								<!-- <li class="nav-item">
									<a class="nav-link" href="account-payment-method.html">
										<i class="feather-icon icon-credit-card me-2"></i>
										결제
									</a>
								</li> -->
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="account-notification.html">
										<i class="feather-icon icon-bell me-2"></i>
										알람
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<hr />
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="../index.html">
										<i class="feather-icon icon-log-out me-2"></i>
										Log out
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="py-6 p-md-6 p-lg-10">
							<div class="mb-6">
								<!-- heading -->
								<h2 class="mb-0">개인정보 설정</h2>
							</div>
							<div>
								<!-- heading -->
								<h5 class="mb-4">세부정보</h5>
								<div class="row">
									<div class="col-lg-5">
										<!-- form -->
										<form method="post" id="myForm" class="needs-validation" novalidate="">
										<input type="hidden" name="userseq" id="userseq" th:value="${session.sessSeqXdm}">
											<!-- input -->
											<!-- input -->
											<div class="mb-3">
												<label class="form-label">기존 비밀번호</label>
												<input type="password" name="userpassword" id="userpassword"  maxlength="40" class="form-control" placeholder="" />
												<span id="passwordErrorMsg1" style="color : red";></span>
											</div>
											<div class="mb-3">
												<label class="form-label">새로운 비밀번호</label>
												<input type="password" name="usernewpassword" id="usernewpassword"  maxlength="40" class="form-control" placeholder="" />
												<span id="passwordErrorMsg2" style="color : red";></span>
											</div>
											<!-- input -->
											<div class="mb-5">
												<label class="form-label">비밀번호 확인</label>
												<input type="password" name="usernewcheckpassword" id="usernewcheckpassword"  maxlength="13" class="form-control" placeholder="" />
												<span id="passwordErrorMsg3" style="color : red";></span>	
											</div>
											<!-- button -->
											<div class="mb-3">
												<button class="btn btn-primary" type="button" id="btnSave">저장</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- modal -->
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
		<!-- offcanvas header -->
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<!-- offcanvas body -->
		<div class="offcanvas-body">
			<ul class="nav flex-column nav-pills nav-pills-dark">
				<!-- nav item -->
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="account-orders.html">
						<i class="feather-icon icon-shopping-bag me-2"></i>
						Your Orders
					</a>
				</li>
				<!-- nav item -->

				<li class="nav-item">
					<a class="nav-link active" href="account-settings.html">
						<i class="feather-icon icon-settings me-2"></i>
						Settings
					</a>
				</li>
				<!-- nav item -->

				<li class="nav-item">
					<a class="nav-link" href="account-address.html">
						<i class="feather-icon icon-map-pin me-2"></i>
						Address
					</a>
				</li>
				<!-- nav item -->

				<li class="nav-item">
					<a class="nav-link" href="account-payment-method.html">
						<i class="feather-icon icon-credit-card me-2"></i>
						Payment Method
					</a>
				</li>
				<!-- nav item -->

				<li class="nav-item">
					<a class="nav-link" href="account-notification.html">
						<i class="feather-icon icon-bell me-2"></i>
						Notification
					</a>
				</li>
			</ul>
			<hr class="my-6" />
			<div>
				<!-- navs -->
				<ul class="nav flex-column nav-pills nav-pills-dark">
					<!-- nav item -->
					<li class="nav-item">
						<a class="nav-link" href="../index.html">
							<i class="feather-icon icon-log-out me-2"></i>
							Log out
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<!-- footer -->
<div th:replace="~{/xdm/block/UserAdminFooter :: footer}"></div>
</body>
<script type="text/javascript">
let userpassword = document.getElementById("userpassword");
let usernewpassword = document.getElementById("usernewpassword");
let usernewcheckpassword = document.getElementById("usernewcheckpassword");
let form = document.getElementById("myForm");
document.getElementById("btnSave").onclick = function () {
	if(validation()){
		loginLogic();
	}
}
	
function validation(){
	var wh = true;
	userpassword.classList.remove("is-invalid");
	userpassword.classList.remove("is-valid");
	usernewpassword.classList.remove("is-invalid");
	usernewpassword.classList.remove("is-valid");
	usernewcheckpassword.classList.remove("is-invalid");
	usernewcheckpassword.classList.remove("is-valid");
	
	if(userpassword.value.trim() == ""){
		userpassword.classList.add("is-invalid");
		document.getElementById("passwordErrorMsg1").innerText = "기존 비밀번호를 다시 입력해주세요";
		wh = false;
	}
	if(usernewpassword.value.trim() == ""){
		usernewpassword.classList.add("is-invalid");
		document.getElementById("passwordErrorMsg3").innerText = "다시 입력해주세요";
		wh =false;
	}
	if(usernewcheckpassword.value.trim() == ""){
		usernewcheckpassword.classList.add("is-invalid");
		document.getElementById("passwordErrorMsg2").innerText = "다시 입력해주세요";
		wh =false;
	}
	if(usernewpassword.value.trim() != usernewcheckpassword.value.trim()){
		usernewpassword.classList.add("is-invalid");
		document.getElementById("passwordErrorMsg3").innerText = "다시 입력해주세요";
		usernewcheckpassword.classList.add("is-invalid");
		document.getElementById("passwordErrorMsg2").innerText = "다시 입력해주세요";
		wh =false;
	}
	return wh ;
	
}

function loginLogic(){
	$.ajax({
		async: true 
		,cache: false
		,type: "post"
		/* ,dataType:"json" */
		,url: "/xdm/usr/mypage/PasswordUpdt"
		
		/* ,data : $("#formLogin").serialize() */
		,data : { "userseq" : $("#userseq").val(),
					"userpassword" : $("#userpassword").val(),
					"usernewpassword" : $("#usernewpassword").val()}
		,success: function(response) {
			if(response.rt == "success") {
				logoutLogic();
			} else if(response.rt == "fail_pwd"){
				userpassword.classList.add("is-invalid");
				document.getElementById("passwordErrorMsg1").innerText = "기존 비밀번호를 다시 입력해주세요";
				userpassword.focus();
		 		
			}
		}
		,error : function(jqXHR, textStatus, errorThrown){
			alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
		}
	});
}
function logoutLogic(){
	$.ajax({
		async: true 
		,cache: false
		,type: "post"
		,url: "/signoutXdmProc"
		,data: {}
		,success: function(response) {
			if(response.rt == "success") {
				location.href = "/xdm/usr/login/LoginUsrList";
			} else {
				// by pass
			}
		}
		,error : function(jqXHR, textStatus, errorThrown){
			alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
		}
	});
}
</script>
</html>